body {
  margin: 0;
}


                /* Very top bar*/

nav {
margin-left: 1400px;
margin-right: 100px;

display: flex;
flex-direction: row;
justify-content: space-between;
flex: 20;
}
a {
  color: black;
}
.one {
padding-left: 30px;
}

.header li {
list-style-type: none;
}
.header p {
  color: MediumAquamarine;
}
.header {
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana;
  padding: 10px;

  display: flex;
  align-items: center;
  align-self: flex-start;
}
.logo {
margin: 0 10px;
flex: 1;
}
.words {
  flex: 1;
}

.border {
  border: 1px solid;
}

                      /* where flex things start for main body*/

.container {
  display: flex;
}
