body {
  margin: 0;
}

.header {
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana;
  padding: 10px;

  display: flex;
  align-items: center;
  align-self: flex-start;
}
.logo {
margin: 0 10px;

}
.words {
}
nav {
margin-left: auto;
display: inline-flex;
justify-content: space-around;
}
.flex {

}
.header li {
list-style-type: none;
}
.header p {
  color: MediumAquamarine;
}
a {
  color: black;
}
